.App {
    &__text {
        font-size: 16px;
        color: #818C99;
        text-align: center;

        &--upload {
            color: #3F8AE0;
            font-weight: 500;
            margin-left: 11px;
        }
    }
    
    &__center {
        width: inherit;
        height: inherit;
        /* height: 100%; <- он игнорит это */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__upload {
        width: 95vw;
        height: 140px;
        margin: 12px 0 0px 12px;
        border: 1px dashed #3F8AE0;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.Icon {
    &--target_outline_28 {
        color: #3F8AE0;
    }
    &--calendar_outline_28 {
        color: #3F8AE0;
    }
    &--picture_outline_28 {
        color: #3F8AE0;
    }
}
